#container{
    height: 100vh;
} 
.btn-native{
    background-color:aqua !important;
    border:1px solid !important;
    border-radius: 15px !important;
}
#beginButton{
    position: fixed;
    bottom:5%;
    left: 50%;
    transform: translate(-50%, -50%);
}